$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$black: #000;
$grey: #666;

@import "media";

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap" rel="stylesheet');
@import "./layout.scss";

//components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/order-section.scss";
@import "./components/fixed-menu.scss";
@import "./components/hamburger.scss";
@import "./components/map-section.scss";
@import "./components/footer.scss";
@import "./components/footer-container__section.scss";
@import "./components/footer__col.scss";
@import "./components/contacts.scss";
@import "./components/contacts__desc.scss";
@import "./components/contacts__phone.scss";
@import "./components/footer__col--align--right.scss";
@import "./components/socials.scss";
@import "./components/socials__item.scss";
@import "./components/socials__item--icon--vk.scss";
@import "./components/socials__item--icon--facebook.scss";
@import "./components/socials__item--icon--instagram.scss";
@import "./components/socials__item--icon--twitter.scss";
